@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway&display=swap');

html {
  --maxWidth: 1200px;
  --gap: 2rem;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Playfair', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #bdc3c7;
  background-color: #323133;
  }

.headings {
  padding-top: 70px;
}

.App {
  background-image: linear-gradient(to bottom right, 
    #434343,
    #3B3B3B,
    #323232,
    #2A2A2A,
    #222222,
    #191919,
    #111111,
    #080808,
    #000000
    )
}


/*  ---------------- NAVBAR FORMATTING -------------------- */
.navbar {
  padding:.8rem;
  background-color: rgba(32,33,36,0.96);
  opacity: 0.5;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10000px) saturate(225%);
  z-index: 2;
}

.navbar-nav li {
  position: relative;
  text-align: right;
  padding-right: 5px;
  background-color: transparent;
}
.nav-link {
  font-size: 1em !important;
  background-color: transparent;
}

.links {
  color: #bdc3c7;
}


.btn-primary {
  background-color: transparent;
  border: 1px solid #95a5a6;
}
.btn-primary:hover {
  background-color: #4d4d4d;
  border: 1px solid #7f8c8d;
}

/*  ---------------- Card FORMATTING -------------------- */

/* flexbox */
.card-layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* spacing between card on wrap */
.card-layout > * {
  margin: 10px;
}

.card {
  border-radius: 10pt;
  text-align: center;
  background-color: #434A53;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.288);
  width: 250px;
  height: 400px;
}

.card img {
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
}



/*  ---------------- Footer FORMATTING -------------------- */

footer {
  /* background-color: #323133; */
  color: #bdc3c7;
}

footer a {
  color: #bdc3c7;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  height: 79vh;
}


/*--- Bootstrap Padding fix--*/
[class*="col-"] {
    padding: 1rem;
}




/* Make things pop up when you hover over them */
.hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0,0,0,0);
        -webkit-transition-duration: 0,05s;
        transition-duration: 0,05s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
