.swiper-slide {
    width: auto;
}

.logo-slide {
    width: 70%;
    max-width: 150px;
    max-height: 150px;
    height: auto;
}

.image-slide {
    border-radius: 1em;
    width: 80%;
    max-width: 800px;
}

.slide-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

