/* ------------------ Blog Post Layout -------------------------- */

.page-wrap {
    display: block;
    position: sticky;
    min-height: 1000px;
    max-width: var(--maxWidth);
    margin: 0 auto;
    margin-top: 10%;
    padding: 0 var(--gap);
  }
  
  .post-scroll {
    position: static;
    overflow-y: scroll;
    overflow: hidden;
  }
  
  /* set body scroll */
  /* body.noscroll{
    position: fixed;
    overflow: hidden;
  } */
  
  .page-wrap > * {
    box-sizing: border-box;
  }
  
  .post {
    border-radius: inherit;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 1em;
    min-height: 90%;
    /* background-color:rgba(32,33,36,0.96); */
  }
  
  #post-header{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
  }
  
  #post-author-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(32,33,36,0.5);
  }
  #post-author-info > * {
    margin-left: 10px;
  }
  
  #post-author-info p {
    margin-top: 1em;
    color: #FFF;
    align-self: center;
  }
  
  /* Header */
  .post h2 {
    align-self: center;
    color: #fff;
    background-color: rgba(32,33,36,0.5);
  }
  
  #content {
    min-height: 2000px;
    border-radius: 1em;
    color: #3C3B3D;
    text-align: center;
    background-color: #fff;
  }